
/* ---------------------------- */
/* Styling, just a bit, for fun */
/* ---------------------------- */

body{
	width: 960px;
	margin: 50px auto;
	color: #444;
	position: relative;
}
h1{ text-align: center; font-family: Arial, sans-serif; padding-bottom: 0.2em; border-bottom: 1px #999 solid;}
label{ display: block;}
input{ width: 390px; margin-top: 5px;}
form{
	width: 400px; 
	margin: 50px auto; 
	background-color: #efefef; 
	border-radius: 5px;
	box-shadow: 0px 0px 7px #333;
	-webkit-box-shadow: 0px 0px 7px #333; 
	-moz-box-shadow: 0px 0px 7px #333; 
	border: 1px #999 solid;
	padding: 15px;
}

.success{ color: #63C53F; }
.error{ color: #DF4141; }
.default{ color: #fff; }

svg{
  margin: auto;
	background-color: #efefef; 
	border-radius: 5px;
	box-shadow: 0px 0px 7px #333;
	-webkit-box-shadow: 0px 0px 7px #333; 
	-moz-box-shadow: 0px 0px 7px #333; 
	border: 1px #999 solid;
	padding: 15px;
}


/* Style for the releases table */
table{
	width: 750px;
	margin: auto;
}
table table { width: auto;} 
td{ padding: 2px 4px; margin: 2px; text-align: center;}
table th{ border-bottom: 1px solid #999;}
table td.title{ font-weight: bold; text-align: left;}
table tr{ cursor: pointer;} /* rows are clickable*/
tr.alt{ color: #1A64AE;}